@import "bourbon";
@import "neat";
@import url(https://fonts.googleapis.com/css?family=Amiri:400,700|Lato:400,400i,700);

// font styles
$heading-font: 'Amiri', serif;
$heading-font-wt: 400;
$heading-font-size: 18px;

$name-font: $heading-font;
$name-font-wt: 700;
$name-font-size: 32px;

$body-font: 'Lato', sans-serif;
$body-font-wt: 400;
$body-font-size: $em-base;

$subheading-font: $body-font;
$subheading-font-wt: 400;
$subheading-font-size: $body-font-size;
$subheading-font-style: italic;

#top-header, main, footer {
    @include outer-container;
}